li{
    list-style: none;
}

img{
    height:250px;
    width:400px;
}

body{
    font-family: 'Merriweather', serif;
}


.title {
    font-size: 25px;
}

.styled_menu {
    border:none;
}

.headline {
    font-size:23px;
    text-decoration: none;
}

a:link {
    color: black;
}


a:visited {
    color: blue;
}